These are exercises in Python, write and execute code in the cells to match the output

Create a list `l` that contains the number 0-10

In [4]:
l = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(len(l))

10

Print the number of elements in the list

In [6]:
print(len(l))

1

Print the second element in the list

In [3]:
print(str(l[1]))

1

Create a new list that contains only the first 5 elements of 'l'

In [9]:
new_l = l[:5]

Write a function `stars` that accepts an integer argument `n` and prints a line of `n` asterisks

In [10]:
def stars(n):
    print('*' * n)

******

write a loop that iterates over the list and prints a line of stars based on each value

In [15]:
for i in range(0, 10, 1):
    print('*' * i)

*
**
***
****
*****
******
*******
********
*********

Create a list of tuples `t`

In [75]:
t = [('apple', 100), ('apple', 200), ('apple', 300)]
print(str(t))

[('apple', 100), ('apple', 200), ('apple', 300)]

using 't' create a list of values only

In [89]:
new_l = [None] * len(t)
for i in range(0, len(t)):
    new_l[i] = t[i][1]
print(new_l)

[100, 200, 300]

Using `t`, sum all the values for apple

In [101]:
sum_all = 0
for i in range(0, len(t)):
    sum_all += t[i][1]
print(sum_all)

600

Using t, make a list in which all values have been increased by 10

Tip: use `map` with a lambda function

In [154]:
values = lambda i: (i[0], i[1] + 10)
values = list(map(values, t))
print(values)

[('apple', 110), ('apple', 210), ('apple', 310)]