These are exercises in Python, write and execute code in the cells to match the output

Create a list `l` that contains the number 0-10

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Print the number of elements in the list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Print the second element in the list

1

Create a new list that contains only the first 5 elements of 'l'

[0, 1, 2, 3, 4]

Write a function `stars` that accepts an integer argument `n` and prints a line of `n` asterisks

write a loop that iterates over the list and prints a line of stars based on each value

*
**
***
****
*****
******
*******
********
*********

Create a list of tuples `t`

[('apple', 100), ('apple', 200), ('pear', 250)]

using 't' create a list of values only

[100, 200, 250]

Using `t`, sum all the values for apple

300

Using t, make a list in which all values have been increased by 10
Tip: use `map` with a lambda function

[('apple', 110), ('apple', 210), ('pear', 260)]