# Key-Values

## Custom function to read a flat text file into Spark

First, lets setup an RDD to process the babyname data. We can use what we have learned previously to create a function that sets up an RDD for a multi-column flat text file.

In [1]:
import urllib.request
f = urllib.request.urlretrieve ("https://health.data.ny.gov/api/views/jxy9-yhdk/rows.csv?accessType=DOWNLOAD", \
                                "babynames.csv")
def readCSV(fname, header=False, separator=','):
    rdd = sc.textFile(fname)
    if header:
        firstline = rdd.first()
        rdd = rdd.filter(lambda x: x != firstline)
    return rdd.map(lambda x: x.split(separator))

babyrdd = readCSV("babynames.csv", header=True)

In [2]:
print(babyrdd.first())

['2013', 'GAVIN', 'ST LAWRENCE', 'M', '9']

## Count

We can simply count the number of elements in an RDD using the action **count**. Note that since count is an action, the RDD is executed and the result is a value.

In [3]:
print(babyrdd.count())

52252

Similarly, we can count how many Male and Female records there are in the dataset.

In [4]:
print(babyrdd.filter(lambda x: x[3] == 'M').count())
print(babyrdd.filter(lambda x: x[3] == 'F').count())

27622
24630

## Key-Value pairs

The most common **flow pattern** for distributed processing is the **Map-Reduce** pattern. (1) All elements in a dataset are first processed by a **map(e -> (k, v))** function, which consumes elements and results in **(key, value)** pairs. By protocol, the key-values identify which values go together, i.e. pairs that have the same key-value are considered values for the same key. (2) The (key, value) pairs that are produced by the map() function, are grouped by their key-values (often this is an implicit step, we do not have to specifically write instructions for this). (3) Per key-value, a **reduce( v1, v2 -> v )** function is called on two values `v1` and `v2`, and produces a single value `v` of the same type.

## ReduceByKey

To compute the counts per gender in one flow, we wish to transform every element in the RDD into a (gender, count) pair. Initially we can simply transform every element into (gender, 1) and then sum the values per gender. The transformation **reduceByKey( v1, v2 -> v )** consumes two values `v1` and `v2` that belong to the same key and reduces it to a single value 'v' of the same type. Although reduce is an action, reduceByKey is a tranformation that results in a new RDD. We can use the **collect()** action to collect all results.

Note: the values are unordered, and therefore the function must be *commutative*, i.e. produce the same result regardless of the order of the operands.

In [5]:
kv = babyrdd.map(lambda x: (x[3], 1))
kv.take(5)

[('M', 1), ('M', 1), ('M', 1), ('M', 1), ('M', 1)]

In [6]:
kv.reduceByKey(lambda x, y: x + y).collect()

[('M', 27622), ('F', 24630)]

## CollectAsMap

When working with (key, value) pairs, it can be easier to retrieve the results as a Python dict object. In Scala (the langauge in which Spark was written), the equivalent of a dict is a Map, hence the action name **collectAsMap()** to collect the results as a dictionary of key-values.

In [7]:
d = kv.reduceByKey(lambda x, y: x + y).collectAsMap()
(d['M'], d['F'])

(27622, 24630)

## Lookup

We can also lookup which values are associated with a single key, by using the **lookup(key)** action. Lookup will return a list of values (even if there is None or one), beacuse keys may not exist and keys are not required to be unique.

In [8]:
kv.reduceByKey(lambda x, y: x + y).lookup('M')

[27622]

## AggregateByKey

For more control, we can use the **aggregateByKey(zero() -> r, f1(r, v) -> r, f2(r1, r2) -> r)**. In contrast to reduceByKey, the aggregation transformation (a.k.a. fold) accumulates a result that can be of a different type than the values. Initially, the **zero()** function is called to generate an initial accumulator (often zero or empty). Then for every value, f1 is called to add a value to the accumulator. Note that because we are working with distributed data, multiple aggregators will work in parallel each producing an accumulator as its reults. To merge these partial results of two aggregators, a final function f2 is called to merge two accumulators.

In the example below, we initialize the count per gender as 0. Then for every (key, value) pair, the second function adds the value to the accumulator. Finally, if there are multiple nodes that are used in parallel on the same key, their results can be added using the final function.

In [9]:
kv.aggregateByKey(\
                  0, # initial value for an accumulator \
                  lambda r, v: r + v, # function that adds a value to an accumulator \
                  lambda r1, r2: r1 + r2 # function that merges/combines two accumulators \
                 ).collect()

[('M', 27622), ('F', 24630)]

To count the number of distinctly different names, we can use aggregateByKey to have more control over the reduce function. First we will look at Python sets to see how we can work with sets to obtain a proper count. We can create a set using the **set()** constructor, and add elements using **add()**. By definition, a set contains only unique elements, thus adding a value that already exists results in no change.

In [10]:
s = set(['Peter'])
s.add('Mike')
s.add('Peter')
print(s, 'size:', len(s))

{'Mike', 'Peter'} size: 2

We can union two sets using the **union()** method, resulting in a set that contains all elements in either set.

In [11]:
t = set(['Peter', 'James'])
u = s.union(t)
print(u, 'size:', len(u))

{'James', 'Mike', 'Peter'} size: 3

We can then accumulate the names in a set to find the number of unique names per gender. First, we need to setup an RDD that contains (gender, name) pairs.

In [12]:
gendernames = babyrdd.map(lambda x: (x[3], x[1]))
print(gendernames.take(5))

[('M', 'GAVIN'), ('M', 'LEVI'), ('M', 'LOGAN'), ('M', 'HUDSON'), ('M', 'GABRIEL')]

Note that since the *add* function does not return a value, we need a function to first add a name and then return the set of names.

In [13]:
def addToSet(names, name):
    names.add(name)
    return names

r = gendernames.aggregateByKey(\
                               set(), # initial value for an accumulator \
                               addToSet, # function to add a value to an accumulator \
                               lambda r1, r2: r1.union(r2) # function to merge two accumulators \
                              )
print(r.take(1))

[('M', {'ADRIEN', 'KIYAN', 'CRAIG', 'ARMAAN', 'JASE', 'ALFRED', 'JUSTIN', 'FORD', 'RANVEER', 'LEIB', 'YAKOV', 'GABRIEL', 'AHMED', 'KAIDEN', 'BARUCH', 'ZAYN', 'RASHAWN', 'YANDEL', 'YOSSI', 'NIKHIL', 'LUKE', 'DONALD', 'MOISES', 'RAY', 'IAN', 'ZACKARY', 'ANGUS', 'OSCAR', 'YOEL', 'KACPER', 'RIVER', 'ARES', 'JAMESON', 'DILAN', 'KRISTIAN', 'REX', 'HILLEL', 'ROBERT', 'AVROHOM', 'ANDY', 'ROCCO', 'SHLOIME', 'DESMOND', 'JUDE', 'TANNER', 'DYLAN', 'AVRAHAM', 'SHANE', 'ALBERT', 'FINLEY', 'GREYSON', 'YAIR', 'OLIVER', 'MEKHI', 'ABDUL', 'SHRAGA', 'MOHAMAD', 'DENZEL', 'STEVE', 'DAMIEN', 'JERMAINE', 'UMAR', 'DERECK', 'TYSON', 'TRISTAN', 'JOHANN', 'DENNIS', 'COLBY', 'CLARK', 'GRAYSON', 'BRANTLEY', 'RYKER', 'DARREN', 'GIDEON', 'ALEX', 'SOLOMON', 'ZAHIR', 'HAYDEN', 'IBRAHIM', 'AZAAN', 'PABLO', 'CONSTANTINE', 'LUCCA', 'NEIL', 'SYED', 'ANTONY', 'KYRIE', 'NACHMAN', 'FABIAN', 'ALESSANDRO', 'AUGUST', 'TREVOR', 'NOAM', 'RICHARD', 'AADEN', 'EVERETT', 'KEITH', 'THEO', 'DEMETRIUS', 'AHARON', 'CAMERON', 'ESTEBAN', 'TATE', 'BRADLEY', 'SAMIR', 'LANGSTON', 'MATEO', 'CHACE', 'DERRICK', 'ZAIDEN', 'PRINCETON', 'AXEL', 'PINCHAS', 'BENZION', 'SKYLER', 'HASSAN', 'ADONIS', 'AVRUM', 'SHOLOM', 'BENNY', 'SIMON', 'AAYAN', 'ISHAAN', 'GAVIN', 'PIERCE', 'BENSON', 'EMMETT', 'SEAN', 'AZIMJON', 'AARAV', 'NOAH', 'DARWIN', 'JORDAN', 'NATE', 'JAMARI', 'LIONEL', 'KENDRICK', 'NAFTULI', 'ABRAHAM', 'ABEL', 'CHRISTOPHER', 'FRANCIS', 'ANAS', 'SHMUEL', 'MATHIAS', 'STEVEN', 'CARMINE', 'HUGO', 'FINNEGAN', 'DEXTER', 'MILES', 'GARRETT', 'LUKAS', 'NIKO', 'CHRISTIAN', 'MENDEL', 'MALIK', 'IKER', 'MIKAEL', 'COREY', 'ALI', 'ADAN', 'JORDY', 'JUAN', 'YASEEN', 'PHILLIP', 'BRYCE', 'YISRAEL', 'TROY', 'SHAYA', 'DIMITRI', 'JAYCEON', 'JENCARLOS', 'ABRAM', 'EMERY', 'MAXIMILIANO', 'JEAN', 'BRYANT', 'AIDAN', 'RUSSELL', 'MIKHAIL', 'ERIC', 'BENJAMIN', 'ALDEN', 'MOISHE', 'RONALD', 'NIKOLAI', 'TZVI', 'BOUBACAR', 'GRAHAM', 'AYAN', 'MILAN', 'YOCHANAN', 'ALPHA', 'KENZO', 'CHESKEL', 'MADDOX', 'ZAIRE', 'ALEJANDRO', 'KINGSTON', 'FARHAN', 'AZIM', 'JACK', 'DEREK', 'BEHRUZ', 'JAMEL', 'OWEN', 'KRISTOPHER', 'NOACH', 'JOHNATHAN', 'JULIEN', 'CAIDEN', 'ARYAN', 'YUSUF', 'TERRENCE', 'YAEL', 'REID', 'AHMAD', 'ZAKARIYA', 'LENNY', 'ARMANDO', 'PARIS', 'AUGUSTUS', 'JAMAL', 'JAMES', 'YAHIR', 'ASA', 'RYAN', 'JAXON', 'GUSTAVO', 'ALBERTO', 'ELIEZER', 'ROYAL', 'EMANUEL', 'JONAS', 'ZALMAN', 'CURTIS', 'ELIOT', 'MATIAS', 'GAVRIEL', 'ZALMEN', 'ANSON', 'OTTO', 'CAMREN', 'MELVIN', 'MEYER', 'ZANDER', 'HERSHY', 'SENDER', 'RALPH', 'AVI', 'ESHAN', 'QUINN', 'AZARIAH', 'QUENTIN', 'SHLOMIE', 'MENDY', 'WESLEY', 'FRANCESCO', 'HERMAN', 'DARNELL', 'KONSTANTINOS', 'ATTICUS', 'WOLF', 'CARLOS', 'ANTHONY', 'TRENTON', 'ROBIN', 'MARCO', 'MOUSSA', 'KADEN', 'RANDY', 'NABIL', 'KAMERON', 'YUVRAJ', 'ERIK', 'LEONARDO', 'BRODY', 'LEGEND', 'JABARI', 'RAYYAN', 'YEHUDA', 'ALLAN', 'TIMOTHY', 'RODNEY', 'ROMAN', 'MAMADOU', 'GINO', 'WALTER', 'JOSE', 'AARON', 'NICOLAS', 'KHAMANI', 'MOTTY', 'ANGELO', 'ANISJON', 'JELANI', 'JAX', 'ISIAH', 'GRANT', 'CHANANYA', 'ZAIN', 'LUIS', 'JAYSON', 'SHLOIMA', 'AMADOU', 'ANTONIO', 'JEFFREY', 'XAVIER', 'JAVON', 'TYRONE', 'ELI', 'ETHAN', 'CARL', 'YASIN', 'MARCUS', 'ANDREW', 'NATHAN', 'STANLEY', 'KARIM', 'MOHAMMAD', 'DEVON', 'SRULY', 'CYRUS', 'EMIL', 'ARIAN', 'SAFWAN', 'DEAN', 'HENRY', 'ELVIN', 'YARIEL', 'LEON', 'OMAR', 'PETER', 'JAHMIR', 'EDEN', 'ABDOUL', 'CASSIUS', 'MYLES', 'SINCERE', 'URIEL', 'WILLIE', 'FRANK', 'DANNY', 'SHEA', 'ARCHER', 'WESTON', 'CONOR', 'YAHYA', 'LEONEL', 'EZRA', 'EZEQUIEL', 'VINCENZO', 'ELIYAHU', 'ROYCE', 'WINSTON', 'DUVID', 'MILTON', 'JULIO', 'CAMILO', 'ELYA', 'JADON', 'AJANI', 'ARLO', 'JOHN', 'TIMMY', 'JORGE', 'GIORGI', 'DAVIAN', 'TERENCE', 'KYLE', 'MIKE', 'CONNER', 'NAZIR', 'RON', 'JUSTICE', 'SHILOH', 'MATTHEW', 'EDDY', 'STEPHEN', 'TENZIN', 'RYLAN', 'RUDY', 'DAMIAN', 'MESSIAH', 'ACHILLES', 'ENRIQUE', 'EVER', 'LINCOLN', 'SHAWN', 'TREY', 'LEIBY', 'DORIAN', 'MUSTAFA', 'WILMER', 'JALEN', 'SHAUL', 'PEYTON', 'PATRICK', 'SHAYE', 'STEPHAN', 'EZRIEL', 'ABDULRAHMAN', 'ABDIEL', 'STEFAN', 'SEAMUS', 'GIOVANNI', 'THEODORE', 'BRYSON', 'EDDIE', 'ARHAM', 'ADYAN', 'ORLANDO', 'JAMISON', 'SETH', 'LEWIS', 'IVAN', 'MUSA', 'BERISH', 'PARKER', 'FELIPE', 'SHIMON', 'ROBERTO', 'RUBEN', 'EMERSON', 'AMROM', 'BECKETT', 'JEFFERSON', 'EZEKIEL', 'BENTLEY', 'FILIP', 'HARRISON', 'GIANCARLO', 'SEBASTIAN', 'GERALD', 'BILLY', 'JASPER', 'LEV', 'MECHEL', 'BRAEDEN', 'EDUARDO', 'NAFTALI', 'MASON', 'MAXIMUS', 'COOPER', 'YAAKOV', 'PAUL', 'COLLIN', 'ARTHUR', 'JONATHAN', 'JAHDIEL', 'MEIR', 'ISRAEL', 'ANDRES', 'BINYAMIN', 'SHELDON', 'NATHANAEL', 'JAYLEN', 'MAURICIO', 'JADEN', 'NICO', 'ELLIOT', 'EMILIANO', 'GRADY', 'MARQUIS', 'LOUIS', 'FINN', 'JUNIOR', 'DAVE', 'BENNETT', 'ASHTON', 'ADITYA', 'SAGE', 'DILLON', 'ARYE', 'GRIFFIN', 'LANDYN', 'IBRAHIMA', 'ENOS', 'EMIR', 'JARIEL', 'ANDREAS', 'RAUL', 'AIDEN', 'HERSH', 'HASAN', 'ALLEN', 'YONATAN', 'MORDECHAI', 'TERRELL', 'DEVIN', 'MALACHI', 'HECTOR', 'PRESTON', 'REMY', 'JOAQUIN', 'MORDCHE', 'JOSHUA', 'LACHLAN', 'KIMI', 'NOSSON', 'ALEXANDER', 'KAI', 'JAEL', 'MOHAMMED', 'FREDERICK', 'AUSTIN', 'USHER', 'ABDULLAH', 'CRISTIAN', 'ASADBEK', 'BLAKE', 'CODY', 'TY', 'LUCAS', 'MARK', 'MORRIS', 'MAJOR', 'JASON', 'ALFONSO', 'LUCIANO', 'RAPHAEL', 'CRISTOPHER', 'ANGEL', 'RAYMOND', 'JULIAN', 'YONAH', 'CRISTOFER', 'AMARE', 'JAKE', 'CAMDEN', 'KYLER', 'ARVIN', 'RYDER', 'ARJUN', 'WILSON', 'CADEN', 'BRANDON', 'CORY', 'SHULEM', 'EMMANUEL', 'HUNTER', 'ARI', 'MD', 'REUVEN', 'GAEL', 'YEHOSHUA', 'HARRY', 'EVAN', 'LORENZO', 'RICKY', 'ELIAN', 'JACKY', 'FRANCO', 'DENIS', 'ELIE', 'SHNEUR', 'MAXIM', 'ISSAC', 'MITCHELL', 'CALEB', 'ANDERSON', 'MOISHY', 'MAHAMADOU', 'ELIAS', 'YANKY', 'ADHAM', 'ELLIOTT', 'SHIA', 'BORUCH', 'SANTIAGO', 'LUCIEN', 'ADRIAN', 'YECHESKEL', 'THIAGO', 'SHOHJAHON', 'YOUSIF', 'NIKOLAOS', 'JONAH', 'SAUL', 'EASON', 'FERNANDO', 'JOSUE', 'JAYCOB', 'MARCEL', 'JAGGER', 'SHMIEL', 'DIEGO', 'EMILIO', 'GIUSEPPE', 'MASSIMO', 'ALEXANDRE', 'JIMMY', 'ARYEH', 'ZANE', 'ABDOULAYE', 'JAYLIN', 'BRUCE', 'COLE', 'LEVI', 'RILEY', 'DARIEL', 'AMARI', 'BRIAN', 'ORION', 'JOHAN', 'CASEY', 'ELUZER', 'EDWIN', 'NEHEMIAH', 'SALVATORE', 'TERRY', 'NIKOLAS', 'TOBIAS', 'EITAN', 'ABOUBACAR', 'YIDA', 'DWAYNE', 'MALCOLM', 'MUHAMMAD', 'KHALIL', 'SKYLAR', 'YISROEL', 'MENASHE', 'BRYAN', 'VICTOR', 'YOUSEF', 'RONAN', 'DERICK', 'AHRON', 'JAVIER', 'MOSES', 'NICKOLAS', 'OMARI', 'ABE', 'ALEXIS', 'ARMANI', 'KARTER', 'CRISTIANO', 'ENZO', 'DAVION', 'DAVID', 'JEFF', 'LIAM', 'JAIDEN', 'MAGNUS', 'YOUSSEF', 'MAKAI', 'DALLAS', 'ZAYAN', 'CARMELO', 'ALEC', 'TRISTEN', 'JESSE', 'BOWEN', 'DUSTIN', 'AZRIEL', 'PHILIP', 'BRYCEN', 'MARVIN', 'ROGER', 'BRADEN', 'TONY', 'WYATT', 'YECHEZKEL', 'MAYSON', 'JAXSON', 'FRANKIE', 'EFRAIM', 'WILLIAM', 'MARIO', 'EASTON', 'AMEER', 'COLTON', 'MAXWELL', 'MAISON', 'ANDRE', 'ARIEL', 'SHAMAR', 'CALLAN', 'AYDEN', 'JAKUB', 'DECLAN', 'SAMUEL', 'RAYAN', 'ISMAIL', 'MARCOS', 'ZACK', 'DANIEL', 'LANDEN', 'CESAR', 'KOBE', 'JOEL', 'CARTER', 'GERSHON', 'ANTON', 'KAMARI', 'GORDON', 'JERAMIAH', 'KIAN', 'DASHIELL', 'MATHEW', 'REUBEN', 'GARY', 'VLADIMIR', 'WALEED', 'MIGUEL', 'CONRAD', 'PHOENIX', 'YONASON', 'TYRESE', 'RAFI', 'JADIEL', 'YIDEL', 'MENACHEM', 'ELVIS', 'JOSIAH', 'KYMANI', 'LEIBISH', 'JEROME', 'CHANCE', 'ILAN', 'GREGORY', 'CHARLIE', 'QUINCY', 'ZACHARY', 'BRANDEN', 'ASHER', 'ZACHARIAH', 'KINGSLEY', 'TAHA', 'LAWRENCE', 'BRAYDEN', 'CHASE', 'ARON', 'ELIMELECH', 'YITZCHAK', 'JOSH', 'SHAYAN', 'RHYS', 'KELLEN', 'KABIR', 'FELIX', 'NOLAN', 'CAYDEN', 'GERARD', 'FRANKLIN', 'JUDAH', 'JAY', 'FEYNMAN', 'KENNY', 'CALVIN', 'PEDRO', 'MICAH', 'MARTIN', 'BRAYLON', 'BROOKS', 'REHAN', 'NICK', 'MAX', 'SCOTT', 'AMIR', 'MARLON', 'SAIF', 'SAMSON', 'MUHAMMED', 'DOV', 'AMIRJON', 'NATHANIEL', 'DAVON', 'BENTZION', 'NUSSEN', 'GEORGE', 'BRADY', 'ISAIAH', 'YADIEL', 'KRISH', 'CARSON', 'VINCENT', 'EDGAR', 'ISREAL', 'SHALOM', 'OUMAR', 'JAYCE', 'SHAUN', 'BODHI', 'DANTE', 'JESUS', 'DREW', 'MESHULEM', 'AYAAN', 'THOMAS', 'KIERAN', 'BEN', 'MARKO', 'DAMON', 'MARCELLO', 'CHAD', 'LAMAR', 'KNOX', 'SMITH', 'NUCHEM', 'ADRIEL', 'SAVION', 'BRETT', 'LEANDRO', 'IMRAN', 'ADEN', 'MOHAMED', 'BRENDAN', 'ADAM', 'MALEK', 'RICARDO', 'ROY', 'NESANEL', 'YECHIEL', 'CONNOR', 'TRENT', 'TEMUR', 'NAFTULA', 'KALEB', 'ELLIS', 'HAMZA', 'SAMEER', 'MICHAEL', 'NOEL', 'LIPA', 'RAHEEM', 'SEBASTIEN', 'ALSTON', 'NIKITA', 'JOHNNY', 'GIANLUCA', 'LAZER', 'NELSON', 'DOVID', 'PINCHUS', 'KEEGAN', 'ERICK', 'JACE', 'SHLOMA', 'AYDIN', 'ROHAN', 'JEREMIAH', 'JORDI', 'CHAIM', 'HOLDEN', 'DAMANI', 'TYLER', 'GAGE', 'DOMINIC', 'LUCA', 'ROMEO', 'JAMIR', 'AHNAF', 'EHAN', 'ENOCH', 'REED', 'ZAYDEN', 'ZAYD', 'LEONARD', 'BRAYAN', 'SAM', 'MOSHE', 'JARED', 'JULIUS', 'SAWYER', 'FRANCISCO', 'TUCKER', 'ALAN', 'MARC', 'YOSEF', 'JERRY', 'JAEDEN', 'LARRY', 'MAURICE', 'ZEV', 'MILO', 'GIANNI', 'RORY', 'MANUEL', 'TOMAS', 'XANDER', 'ROWAN', 'BINYOMIN', 'ADIEL', 'YONA', 'MUHAMMADALI', 'CULLEN', 'SAAD', 'DARIUS', 'ISAIAS', 'YITZCHOK', 'NEYMAR', 'DOVBER', 'TRISTIAN', 'DONOVAN', 'ABBA', 'DOUGLAS', 'KARAS', 'KING', 'JEREMY', 'CHESKY', 'BYRON', 'KAZI', 'EDWARD', 'LEONIDAS', 'RODRIGO', 'CHRIS', 'SILAS', 'MAYER', 'JAIME', 'TRAVIS', 'KELVIN', 'LANDON', 'LUKA', 'LOGAN', 'EDISON', 'BRENDEN', 'BENYAMIN', 'LONDON', 'JOSEF', 'KAMREN', 'SHLOME', 'SPENCER', 'PRINCE', 'ALTER', 'KELLAN', 'ELIJAH', 'MAXIMILIAN', 'SERGIO', 'SHLOMO', 'NICHOLAS', 'JASIAH', 'REESE', 'AVERY', 'KAYDEN', 'MEILECH', 'RAFAEL', 'DOMINICK', 'DAMIR', 'SANTINO', 'COLIN', 'BERL', 'JOSEPH', 'JAMAR', 'BRENNAN', 'CHARLES', 'JAKOB', 'ISAAC', 'DOMINIK', 'JAYDEN', 'ZION', 'KEVIN', 'KAREEM', 'KENNETH', 'HUDSON', 'IDRIS', 'BURECH', 'SHLOIMY', 'JACKSON', 'TERRANCE', 'DAWSON', 'MATTEO', 'TYSHAWN', 'SIMCHA', 'SANTANA', 'ISMAEL', 'HERSHEL', 'ZAMIR', 'JACOB', 'ENMANUEL', 'QUINTON', 'AARIZ', 'NASIR', 'LEO', 'EPHRAIM', 'AKIVA', 'ALVIN', 'HAROLD', 'MOUHAMED', 'JOEY', 'AAHIL', 'TAYLOR'})]

Take a good look at the structure of the RDD. The contents of the RDD is printed within []. Evert element of the RDD is a tuple (in this case a key-value pair), which is printed within (). Within the key-value pairs for the keys 'M' and 'F', the values are sets which are printed with {}. Note that in many languages (e.g. Python, Java), a set is just a dictionary without values. 

Since every element x is a (key, value) pair, we can address the key as x[0] and the value as x[1]. Then we can count the number of unique names per gender as the length of their sets of names.

In [14]:
r.map(lambda x: (x[0], len(x[1]))).collect()

[('M', 984), ('F', 1182)]

## CombineByKey

The **CombineByKey( init(v) -> acc, f1(acc, v) -> acc, f2(acc, acc) -> acc )** tranformation function is similar to aggregateByKey, except that instead of a zero function an initializer function **init** is used on the first value to setup an accumulator.

In [15]:
gendernames.combineByKey(\
                               lambda x: set([x]), # initial value for an accumulator \
                               addToSet, # function to add a value to an accumulator \
                               lambda r1, r2: r1.union(r2) # function to merge two accumulators \
                              ).map(lambda x: (x[0], len(x[1]))).collect()

[('M', 984), ('F', 1182)]

## groupByKey

The **groupByKey()** transformation groups all values for the same key into a list.

In [16]:
gendernames.groupByKey().collect()

[('M', <pyspark.resultiterable.ResultIterable at 0x1074552b0>),
 ('F', <pyspark.resultiterable.ResultIterable at 0x107455ac8>)]

The result are iterables, which are evaluated when needed. In this example, the Python function `Counter` counts how often every element appears in the collection.

In [17]:
from collections import Counter
gendernames.groupByKey().mapValues(lambda x: Counter(x)).take(1)

[('M',
  Counter({'AADEN': 3,
           'AAHIL': 1,
           'AARAV': 2,
           'AARIZ': 1,
           'AARON': 113,
           'AAYAN': 3,
           'ABBA': 1,
           'ABDIEL': 1,
           'ABDOUL': 1,
           'ABDOULAYE': 3,
           'ABDUL': 6,
           'ABDULLAH': 14,
           'ABDULRAHMAN': 1,
           'ABE': 1,
           'ABEL': 11,
           'ABOUBACAR': 1,
           'ABRAHAM': 57,
           'ABRAM': 1,
           'ACHILLES': 1,
           'ADAM': 122,
           'ADAN': 2,
           'ADEN': 16,
           'ADHAM': 1,
           'ADIEL': 1,
           'ADITYA': 1,
           'ADONIS': 11,
           'ADRIAN': 87,
           'ADRIEL': 10,
           'ADRIEN': 1,
           'ADYAN': 3,
           'AHARON': 9,
           'AHMAD': 8,
           'AHMED': 24,
           'AHNAF': 1,
           'AHRON': 3,
           'AIDAN': 132,
           'AIDEN': 245,
           'AJANI': 1,
           'AKIVA': 12,
           'ALAN': 50,
           'ALBERT': 27,
           'ALBERTO': 4,
           'ALDEN': 1,
           'ALEC': 6,
           'ALEJANDRO': 57,
           'ALESSANDRO': 6,
           'ALEX': 96,
           'ALEXANDER': 258,
           'ALEXANDRE': 1,
           'ALEXIS': 43,
           'ALFONSO': 1,
           'ALFRED': 5,
           'ALI': 40,
           'ALLAN': 9,
           'ALLEN': 24,
           'ALPHA': 3,
           'ALSTON': 2,
           'ALTER': 3,
           'ALVIN': 18,
           'AMADOU': 4,
           'AMARE': 1,
           'AMARI': 23,
           'AMEER': 1,
           'AMIR': 64,
           'AMIRJON': 1,
           'AMROM': 4,
           'ANAS': 2,
           'ANDERSON': 43,
           'ANDRE': 38,
           'ANDREAS': 1,
           'ANDRES': 31,
           'ANDREW': 215,
           'ANDY': 54,
           'ANGEL': 91,
           'ANGELO': 48,
           'ANGUS': 1,
           'ANISJON': 1,
           'ANSON': 10,
           'ANTHONY': 224,
           'ANTON': 2,
           'ANTONIO': 94,
           'ANTONY': 3,
           'ARCHER': 2,
           'ARES': 1,
           'ARHAM': 1,
           'ARI': 28,
           'ARIAN': 1,
           'ARIEL': 42,
           'ARJUN': 5,
           'ARLO': 1,
           'ARMAAN': 1,
           'ARMANDO': 2,
           'ARMANI': 10,
           'ARON': 25,
           'ARTHUR': 15,
           'ARVIN': 2,
           'ARYAN': 8,
           'ARYE': 1,
           'ARYEH': 13,
           'ASA': 1,
           'ASADBEK': 1,
           'ASHER': 49,
           'ASHTON': 44,
           'ATTICUS': 1,
           'AUGUST': 16,
           'AUGUSTUS': 1,
           'AUSTIN': 154,
           'AVERY': 43,
           'AVI': 2,
           'AVRAHAM': 22,
           'AVROHOM': 16,
           'AVRUM': 8,
           'AXEL': 38,
           'AYAAN': 20,
           'AYAN': 6,
           'AYDEN': 107,
           'AYDIN': 2,
           'AZAAN': 2,
           'AZARIAH': 1,
           'AZIM': 1,
           'AZIMJON': 1,
           'AZRIEL': 1,
           'BARUCH': 10,
           'BECKETT': 1,
           'BEHRUZ': 1,
           'BEN': 11,
           'BENJAMIN': 224,
           'BENNETT': 8,
           'BENNY': 2,
           'BENSON': 7,
           'BENTLEY': 28,
           'BENTZION': 1,
           'BENYAMIN': 1,
           'BENZION': 6,
           'BERISH': 2,
           'BERL': 2,
           'BILLY': 1,
           'BINYAMIN': 1,
           'BINYOMIN': 5,
           'BLAKE': 118,
           'BODHI': 2,
           'BORUCH': 6,
           'BOUBACAR': 1,
           'BOWEN': 1,
           'BRADEN': 7,
           'BRADLEY': 41,
           'BRADY': 64,
           'BRAEDEN': 5,
           'BRANDEN': 1,
           'BRANDON': 132,
           'BRANTLEY': 4,
           'BRAYAN': 20,
           'BRAYDEN': 164,
           'BRAYLON': 1,
           'BRENDAN': 53,
           'BRENDEN': 1,
           'BRENNAN': 15,
           'BRETT': 6,
           'BRIAN': 100,
           'BRODY': 69,
           'BROOKS': 2,
           'BRUCE': 8,
           'BRYAN': 70,
           'BRYANT': 11,
           'BRYCE': 78,
           'BRYCEN': 2,
           'BRYSON': 13,
           'BURECH': 1,
           'BYRON': 2,
           'CADEN': 37,
           'CAIDEN': 15,
           'CALEB': 184,
           'CALLAN': 1,
           'CALVIN': 19,
           'CAMDEN': 24,
           'CAMERON': 161,
           'CAMILO': 1,
           'CAMREN': 2,
           'CARL': 2,
           'CARLOS': 68,
           'CARMELO': 6,
           'CARMINE': 9,
           'CARSON': 41,
           'CARTER': 196,
           'CASEY': 9,
           'CASSIUS': 1,
           'CAYDEN': 39,
           'CESAR': 32,
           'CHACE': 3,
           'CHAD': 1,
           'CHAIM': 30,
           'CHANANYA': 1,
           'CHANCE': 11,
           'CHARLES': 119,
           'CHARLIE': 23,
           'CHASE': 158,
           'CHESKEL': 9,
           'CHESKY': 4,
           'CHRIS': 34,
           'CHRISTIAN': 167,
           'CHRISTOPHER': 200,
           'CLARK': 1,
           'CODY': 27,
           'COLBY': 2,
           'COLE': 99,
           'COLIN': 102,
           'COLLIN': 44,
           'COLTON': 68,
           'CONNER': 6,
           'CONNOR': 208,
           'CONOR': 18,
           'CONRAD': 1,
           'CONSTANTINE': 1,
           'COOPER': 81,
           'COREY': 13,
           'CORY': 1,
           'CRAIG': 4,
           'CRISTIAN': 53,
           'CRISTIANO': 1,
           'CRISTOFER': 1,
           'CRISTOPHER': 8,
           'CULLEN': 1,
           'CURTIS': 2,
           'CYRUS': 1,
           'DALLAS': 1,
           'DAMANI': 1,
           'DAMIAN': 46,
           'DAMIEN': 39,
           'DAMIR': 1,
           'DAMON': 4,
           'DANIEL': 205,
           'DANNY': 33,
           'DANTE': 41,
           'DARIEL': 7,
           'DARIUS': 12,
           'DARNELL': 2,
           'DARREN': 21,
           'DARWIN': 7,
           'DASHIELL': 3,
           'DAVE': 2,
           'DAVIAN': 1,
           'DAVID': 183,
           'DAVION': 1,
           'DAVON': 1,
           'DAWSON': 1,
           'DEAN': 44,
           'DECLAN': 65,
           'DEMETRIUS': 3,
           'DENIS': 2,
           'DENNIS': 23,
           'DENZEL': 3,
           'DERECK': 1,
           'DEREK': 80,
           'DERICK': 1,
           'DERRICK': 9,
           'DESMOND': 14,
           'DEVIN': 73,
           'DEVON': 12,
           'DEXTER': 1,
           'DIEGO': 59,
           'DILAN': 3,
           'DILLON': 15,
           'DIMITRI': 1,
           'DOMINIC': 138,
           'DOMINICK': 65,
           'DOMINIK': 2,
           'DONALD': 5,
           'DONOVAN': 24,
           'DORIAN': 1,
           'DOUGLAS': 5,
           'DOV': 15,
           'DOVBER': 1,
           'DOVID': 17,
           'DREW': 28,
           'DUSTIN': 1,
           'DUVID': 3,
           'DWAYNE': 1,
           'DYLAN': 196,
           'EASON': 5,
           'EASTON': 7,
           'EDDIE': 4,
           'EDDY': 1,
           'EDEN': 3,
           'EDGAR': 22,
           'EDISON': 9,
           'EDUARDO': 34,
           'EDWARD': 79,
           'EDWIN': 53,
           'EFRAIM': 11,
           'EHAN': 1,
           'EITAN': 7,
           'ELI': 121,
           'ELIAN': 3,
           'ELIAS': 69,
           'ELIE': 1,
           'ELIEZER': 19,
           'ELIJAH': 178,
           'ELIMELECH': 11,
           'ELIOT': 1,
           'ELIYAHU': 13,
           'ELLIOT': 22,
           'ELLIOTT': 13,
           'ELLIS': 2,
           'ELUZER': 2,
           'ELVIN': 4,
           'ELVIS': 5,
           'ELYA': 2,
           'EMANUEL': 38,
           'EMERSON': 13,
           'EMERY': 1,
           'EMIL': 1,
           'EMILIANO': 1,
           'EMILIO': 6,
           'EMIR': 1,
           'EMMANUEL': 67,
           'EMMETT': 19,
           'ENMANUEL': 1,
           'ENOCH': 1,
           'ENOS': 1,
           'ENRIQUE': 5,
           'ENZO': 8,
           'EPHRAIM': 2,
           'ERIC': 91,
           'ERICK': 52,
           'ERIK': 30,
           'ESHAN': 1,
           'ESTEBAN': 2,
           'ETHAN': 267,
           'EVAN': 195,
           'EVER': 1,
           'EVERETT': 14,
           'EZEKIEL': 11,
           'EZEQUIEL': 4,
           'EZRA': 29,
           'EZRIEL': 2,
           'FABIAN': 4,
           'FARHAN': 3,
           'FELIPE': 1,
           'FELIX': 29,
           'FERNANDO': 29,
           'FEYNMAN': 1,
           'FILIP': 2,
           'FINLEY': 1,
           'FINN': 27,
           'FINNEGAN': 3,
           'FORD': 1,
           'FRANCESCO': 10,
           'FRANCIS': 15,
           'FRANCISCO': 20,
           'FRANCO': 2,
           'FRANK': 54,
           'FRANKIE': 3,
           'FRANKLIN': 7,
           'FREDERICK': 6,
           'GABRIEL': 190,
           'GAEL': 17,
           'GAGE': 4,
           'GARRETT': 13,
           'GARY': 6,
           'GAVIN': 210,
           'GAVRIEL': 5,
           'GEORGE': 70,
           'GERALD': 1,
           'GERARD': 2,
           'GERSHON': 2,
           'GIANCARLO': 6,
           'GIANLUCA': 9,
           'GIANNI': 21,
           'GIDEON': 1,
           'GINO': 3,
           'GIORGI': 1,
           'GIOVANNI': 101,
           'GIUSEPPE': 3,
           'GORDON': 2,
           'GRADY': 4,
           'GRAHAM': 14,
           'GRANT': 27,
           'GRAYSON': 48,
           'GREGORY': 40,
           'GREYSON': 23,
           'GRIFFIN': 36,
           'GUSTAVO': 2,
           'HAMZA': 12,
           'HAROLD': 1,
           'HARRISON': 51,
           'HARRY': 15,
           'HASAN': 2,
           'HASSAN': 7,
           'HAYDEN': 51,
           'HECTOR': 26,
           'HENRY': 126,
           'HERMAN': 1,
           'HERSH': 12,
           'HERSHEL': 17,
           'HERSHY': 18,
           'HILLEL': 1,
           'HOLDEN': 1,
           'HUDSON': 48,
           'HUGO': 10,
           'HUNTER': 202,
           'IAN': 113,
           'IBRAHIM': 37,
           'IBRAHIMA': 6,
           'IDRIS': 1,
           'IKER': 14,
           'ILAN': 1,
           'IMRAN': 2,
           'ISAAC': 120,
           'ISAIAH': 121,
           'ISAIAS': 1,
           'ISHAAN': 1,
           'ISIAH': 4,
           'ISMAEL': 12,
           'ISMAIL': 1,
           'ISRAEL': 36,
           'ISREAL': 2,
           'ISSAC': 6,
           'IVAN': 51,
           'JABARI': 1,
           'JACE': 58,
           'JACK': 203,
           'JACKSON': 200,
           'JACKY': 3,
           'JACOB': 316,
           'JADEN': 83,
           'JADIEL': 24,
           'JADON': 1,
           'JAEDEN': 1,
           'JAEL': 3,
           'JAGGER': 1,
           'JAHDIEL': 1,
           'JAHMIR': 1,
           'JAIDEN': 55,
           'JAIME': 4,
           'JAKE': 101,
           'JAKOB': 3,
           'JAKUB': 5,
           'JALEN': 7,
           'JAMAL': 4,
           'JAMAR': 1,
           'JAMARI': 4,
           'JAMEL': 2,
           'JAMES': 237,
           'JAMESON': 26,
           'JAMIR': 2,
           'JAMISON': 1,
           'JARED': 48,
           'JARIEL': 9,
           'JASE': 10,
           'JASIAH': 11,
           'JASON': 141,
           'JASPER': 17,
           'JAVIER': 44,
           'JAVON': 1,
           'JAX': 8,
           'JAXON': 53,
           'JAXSON': 33,
           'JAY': 13,
           'JAYCE': 23,
           'JAYCEON': 10,
           'JAYCOB': 1,
           'JAYDEN': 207,
           'JAYLEN': 35,
           'JAYLIN': 3,
           'JAYSON': 36,
           'JEAN': 10,
           'JEFF': 1,
           'JEFFERSON': 27,
           'JEFFREY': 57,
           'JELANI': 1,
           'JENCARLOS': 1,
           'JERAMIAH': 1,
           'JEREMIAH': 114,
           'JEREMY': 73,
           'JERMAINE': 7,
           'JEROME': 1,
           'JERRY': 17,
           'JESSE': 44,
           'JESUS': 44,
           'JIMMY': 18,
           'JOAQUIN': 10,
           'JOEL': 82,
           'JOEY': 2,
           'JOHAN': 27,
           'JOHANN': 1,
           'JOHN': 210,
           'JOHNATHAN': 23,
           'JOHNNY': 21,
           'JONAH': 66,
           'JONAS': 5,
           'JONATHAN': 144,
           'JORDAN': 132,
           'JORDI': 3,
           'JORDY': 2,
           'JORGE': 37,
           'JOSE': 81,
           'JOSEF': 1,
           'JOSEPH': 245,
           'JOSH': 2,
           'JOSHUA': 208,
           'JOSIAH': 94,
           'JOSUE': 42,
           'JUAN': 62,
           'JUDAH': 23,
           'JUDE': 25,
           'JULIAN': 121,
           'JULIEN': 8,
           'JULIO': 12,
           'JULIUS': 30,
           'JUNIOR': 9,
           'JUSTICE': 8,
           'JUSTIN': 141,
           'KABIR': 1,
           'KACPER': 3,
           'KADEN': 31,
           'KAI': 39,
           'KAIDEN': 47,
           'KALEB': 32,
           'KAMARI': 4,
           'KAMERON': 2,
           'KAMREN': 1,
           'KARAS': 1,
           'KAREEM': 10,
           'KARIM': 1,
           'KARTER': 7,
           'KAYDEN': 58,
           'KAZI': 1,
           'KEEGAN': 14,
           'KEITH': 17,
           'KELLAN': 3,
           'KELLEN': 1,
           'KELVIN': 23,
           'KENDRICK': 5,
           'KENNETH': 63,
           'KENNY': 19,
           'KENZO': 1,
           'KEVIN': 115,
           'KHALIL': 8,
           'KHAMANI': 1,
           'KIAN': 2,
           'KIERAN': 25,
           'KIMI': 2,
           'KING': 21,
           'KINGSLEY': 8,
           'KINGSTON': 9,
           'KIYAN': 1,
           'KNOX': 1,
           'KOBE': 1,
           'KONSTANTINOS': 1,
           'KRISH': 5,
           'KRISTIAN': 6,
           'KRISTOPHER': 3,
           'KYLE': 110,
           'KYLER': 1,
           'KYMANI': 4,
           'KYRIE': 4,
           'LACHLAN': 1,
           'LAMAR': 1,
           'LANDEN': 2,
           'LANDON': 163,
           'LANDYN': 1,
           'LANGSTON': 1,
           'LARRY': 3,
           'LAWRENCE': 8,
           'LAZER': 11,
           'LEANDRO': 4,
           'LEGEND': 2,
           'LEIB': 4,
           'LEIBISH': 1,
           'LEIBY': 1,
           'LENNY': 1,
           'LEO': 65,
           'LEON': 19,
           'LEONARD': 2,
           'LEONARDO': 58,
           'LEONEL': 2,
           'LEONIDAS': 2,
           'LEV': 2,
           'LEVI': 87,
           'LEWIS': 1,
           'LIAM': 259,
           'LINCOLN': 23,
           'LIONEL': 1,
           'LIPA': 16,
           'LOGAN': 303,
           'LONDON': 1,
           'LORENZO': 45,
           'LOUIS': 53,
           'LUCA': 78,
           'LUCAS': 236,
           'LUCCA': 2,
           'LUCIANO': 9,
           'LUCIEN': 2,
           'LUIS': 89,
           'LUKA': 10,
           'LUKAS': 42,
           'LUKE': 146,
           'MADDOX': 7,
           'MAGNUS': 1,
           'MAHAMADOU': 2,
           'MAISON': 1,
           'MAJOR': 2,
           'MAKAI': 1,
           'MALACHI': 48,
           'MALCOLM': 6,
           'MALEK': 1,
           'MALIK': 23,
           'MAMADOU': 13,
           'MANUEL': 25,
           'MARC': 23,
           'MARCEL': 3,
           'MARCELLO': 4,
           'MARCO': 46,
           'MARCOS': 14,
           'MARCUS': 77,
           'MARIO': 33,
           'MARK': 76,
           'MARKO': 1,
           'MARLON': 5,
           'MARQUIS': 5,
           'MARTIN': 35,
           'MARVIN': 19,
           'MASON': 282,
           'MASSIMO': 3,
           'MATEO': 45,
           'MATHEW': 19,
           'MATHIAS': 2,
           'MATIAS': 10,
           'MATTEO': 40,
           'MATTHEW': 234,
           'MAURICE': 6,
           'MAURICIO': 2,
           'MAX': 84,
           'MAXIM': 10,
           'MAXIMILIAN': 19,
           'MAXIMILIANO': 3,
           'MAXIMUS': 37,
           'MAXWELL': 85,
           'MAYER': 18,
           'MAYSON': 1,
           'MD': 1,
           'MECHEL': 1,
           'MEILECH': 4,
           'MEIR': 18,
           'MEKHI': 12,
           'MELVIN': 10,
           'MENACHEM': 16,
           'MENASHE': 6,
           'MENDEL': 22,
           'MENDY': 14,
           'MESHULEM': 1,
           'MESSIAH': 16,
           'MEYER': 2,
           'MICAH': 45,
           'MICHAEL': 257,
           'MIGUEL': 61,
           'MIKAEL': 1,
           'MIKE': 6,
           'MIKHAIL': 1,
           'MILAN': 7,
           'MILES': 57,
           'MILO': 14,
           'MILTON': 1,
           'MITCHELL': 4,
           'MOHAMAD': 1,
           'MOHAMED': 39,
           'MOHAMMAD': 26,
           'MOHAMMED': 26,
           'MOISES': 1,
           'MOISHE': 12,
           'MOISHY': 1,
           'MORDCHE': 3,
           'MORDECHAI': 24,
           'MORRIS': 6,
           'MOSES': 16,
           'MOSHE': 37,
           'MOTTY': 1,
           'MOUHAMED': 1,
           'MOUSSA': 6,
           'MUHAMMAD': 36,
           'MUHAMMADALI': 1,
           'MUHAMMED': 1,
           'MUSA': 3,
           'MUSTAFA': 5,
           'MYLES': 24,
           'NABIL': 1,
           'NACHMAN': 9,
           'NAFTALI': 12,
           'NAFTULA': 1,
           'NAFTULI': 10,
           'NASIR': 26,
           'NATE': 1,
           'NATHAN': 180,
           'NATHANAEL': 1,
           'NATHANIEL': 108,
           'NAZIR': 1,
           'NEHEMIAH': 3,
           'NEIL': 4,
           'NELSON': 20,
           'NESANEL': 1,
           'NEYMAR': 5,
           'NICHOLAS': 219,
           'NICK': 1,
           'NICKOLAS': 4,
           'NICO': 17,
           'NICOLAS': 64,
           'NIKHIL': 1,
           'NIKITA': 3,
           'NIKO': 4,
           'NIKOLAI': 1,
           'NIKOLAOS': 1,
           'NIKOLAS': 12,
           'NOACH': 1,
           'NOAH': 279,
           'NOAM': 2,
           'NOEL': 19,
           'NOLAN': 63,
           'NOSSON': 1,
           'NUCHEM': 1,
           'NUSSEN': 1,
           'OLIVER': 99,
           'OMAR': 56,
           'OMARI': 7,
           'ORION': 2,
           'ORLANDO': 1,
           'OSCAR': 57,
           'OTTO': 1,
           'OUMAR': 3,
           'OWEN': 206,
           'PABLO': 9,
           'PARIS': 1,
           'PARKER': 86,
           'PATRICK': 108,
           'PAUL': 76,
           'PEDRO': 12,
           'PETER': 85,
           'PEYTON': 29,
           'PHILIP': 33,
           'PHILLIP': 3,
           'PHOENIX': 5,
           'PIERCE': 1,
           'PINCHAS': 10,
           'PINCHUS': 9,
           'PRESTON': 48,
           'PRINCE': 23,
           'PRINCETON': 3,
           'QUENTIN': 4,
           'QUINCY': 2,
           'QUINN': 22,
           'QUINTON': 1,
           'RAFAEL': 49,
           'RAFI': 1,
           'RAHEEM': 1,
           'RALPH': 2,
           'RANDY': 36,
           'RANVEER': 1,
           'RAPHAEL': 19,
           'RASHAWN': 1,
           'RAUL': 6,
           'RAY': 1,
           'RAYAN': 15,
           'RAYMOND': 52,
           'RAYYAN': 2,
           'REED': 6,
           'REESE': 1,
           'REHAN': 1,
           'REID': 8,
           'REMY': 1,
           'REUBEN': 2,
           'REUVEN': 1,
           'REX': 1,
           'RHYS': 3,
           'RICARDO': 27,
           'RICHARD': 94,
           'RICKY': 7,
           'RILEY': 65,
           'RIVER': 1,
           'ROBERT': 165,
           'ROBERTO': 10,
           'ROBIN': 1,
           'ROCCO': 22,
           'RODNEY': 1,
           'RODRIGO': 2,
           'ROGER': 3,
           'ROHAN': 8,
           'ROMAN': 38,
           'ROMEO': 6,
           'RON': 1,
           'RONALD': 22,
           'RONAN': 10,
           'RORY': 8,
           'ROWAN': 9,
           'ROY': 7,
           'ROYAL': 1,
           'ROYCE': 1,
           'RUBEN': 7,
           'RUDY': 1,
           'RUSSELL': 4,
           'RYAN': 247,
           'RYDER': 27,
           'RYKER': 1,
           'RYLAN': 2,
           'SAAD': 1,
           'SAFWAN': 1,
           'SAGE': 1,
           'SAIF': 2,
           'SALVATORE': 38,
           'SAM': 21,
           'SAMEER': 1,
           'SAMIR': 9,
           'SAMSON': 1,
           'SAMUEL': 179,
           'SANTANA': 1,
           'SANTIAGO': 36,
           'SANTINO': 12,
           'SAUL': 7,
           'SAVION': 1,
           'SAWYER': 16,
           'SCOTT': 6,
           'SEAMUS': 1,
           'SEAN': 124,

## SubtractByKey

From an RDD of (key, value) elements we can remove the keys that exist in another RDD using the **subtractByKey(r)** transformation. This transformationthe *not in* operator in SQL.

First, construct an RDD with (name, gender) pairs

In [18]:
nameGenders = babyrdd.map(lambda x: (x[1], x[3]))
nameGenders.take(2)

[('GAVIN', 'M'), ('LEVI', 'M')]

Then group the pairs by name, count the number of different genders by the length of a set

In [19]:
nameCountGenders = nameGenders.groupByKey().mapValues(lambda x: len(set(x)))
nameCountGenders.take(2)

[('ADRIEN', 1), ('HERSH', 1)]

And keep only names that are used for one gender

In [20]:
nameSingleGender = nameCountGenders.filter(lambda x: x[1] < 2)
nameSingleGender.take(2)

[('ADRIEN', 1), ('HERSH', 1)]

Now show only the names that do are not used for a single gender.

In [21]:
nameGenders.subtractByKey(nameSingleGender).keys().distinct().take(8)

['EDEN', 'EMERSON', 'JAYDEN', 'JAYLIN', 'AVERY', 'HAYDEN', 'SKYLER', 'AMARI']

## Keys and Values

From an RDD of (key, value) elements, we can use only the keys using the **keys()** transformation and use only the values using the **values()** transformation.

In [22]:
gendernames.keys().take(10)

['M', 'M', 'M', 'M', 'M', 'M', 'F', 'F', 'F', 'F']

In [23]:
gendernames.values().take(10)

['GAVIN',
 'LEVI',
 'LOGAN',
 'HUDSON',
 'GABRIEL',
 'THEODORE',
 'ELIZA',
 'MADELEINE',
 'ZARA',
 'DAISY']