# Spark SQL and Data Frames

It is very easy to express data queries when used together with the SQL language. Moreover, Spark distributes this column-based data structure transparently, in order to make the querying process as efficient as possible.

In [3]:
f = sqlContext.read.format("com.databricks.spark.csv").\
    options(header="true", inferSchema = "true").load("2008.csv.bz2")

Once we have our RDD of `Row` we can infer and register the schema.

In [4]:
f.registerTempTable("flights")

Now we can run SQL queries over our data frame that has been registered as a table.

In [9]:
# Select tcp network interactions with more than 1 second duration and no transfer from destination
numflights = sqlContext.sql("""
    SELECT FlightNum, count(*), avg(DepDelay) as depdelay
    FROM flights GROUP BY FlightNum
""")
numflights.show()

+---------+--------+-------------------+
|FlightNum|count(1)|           depdelay|
+---------+--------+-------------------+
|     1580|    2774|  5.152813067150635|
|      463|    2302| 14.447111111111111|
|     2366|    1142| 11.769848349687779|
|      496|    1946|  9.009926854754442|
|     3918|     618| 10.884176182707993|
|      833|    1288|   8.92992125984252|
|     1829|    1106| 17.716390423572744|
|      148|    2802|  9.228706052917724|
|     2866|    1008| 18.221319796954315|
|      471|    3225|  5.617600506489396|
|     1238|    1559| 10.777195281782438|
|     1342|     853|  8.573317307692308|
|     3749|    1252| 10.520714865962631|
|     1088|    1945|  9.558407543216344|
|     1591|    1813|  10.27054220234768|
|     2122|    1092|  4.594876660341556|
|     7754|     358|-1.1424581005586592|
|     2659|    1099|  4.149672591206735|
|     2142|     708|  4.923076923076923|
|     7240|     363| 13.161016949152541|
+---------+--------+-------------------+
only showing top 20 rows

The results of SQL queries are DataFrames which can be processed further using the DataFrame API.